.box1 {
  background-color: #D4D4D4;
  border: #8c8c8c solid;
}

.featurebox {
  background-color: #99ffcc;
  border: 5px solid #000000;
}
.darker {
  background-color: #00994d;
}
.bluefeaturebox {
  background-color: #0066ff;
  border: 5px solid #000000;
}
.darker {
  background-color: #0047b3;
}
